<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Diamond Price Predictor</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
</head>

<body class="bg-dark">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="card" style="width: 80%;">
        <div class="card-header text-center">
          <h1>Predict the Diamond Price now!</h1>
        </div>
        <div class="card-body">
          <form action="{{url_for('predict_datapoint')}}" method="POST">
            <div class="row g-3">
              <div class="col-md-6">
                <label for="carat"><b>Carat:</b></label>
                <input type="text" class="form-control" id="carat" name="carat" placeholder="Enter carat value (float)">
              </div>

              <div class="col-md-6">
                <label for="depth"><b>Depth:</b></label>
                <input type="text" class="form-control" id="depth" name="depth" placeholder="Enter depth value (float)">
              </div>

              <div class="col-md-6">
                <label for="table"><b>Table:</b></label>
                <input type="text" class="form-control" id="table" name="table" placeholder="Enter table value (float)">
              </div>

              <div class="col-md-6">
                <label for="x"><b>x:</b></label>
                <input type="text" class="form-control" id="x" name="x" placeholder="Enter x value (float)">
              </div>

              <div class="col-md-6">
                <label for="y"><b>y:</b></label>
                <input type="text" class="form-control" id="y" name="y" placeholder="Enter y value (float)">
              </div>

              <div class="col-md-6">
                <label for="z"><b>z:</b></label>
                <input type="text" class="form-control" id="z" name="z" placeholder="Enter z value (float)">
              </div>

              <div class="col-md-6">
                <label for="cut"><b>Cut:</b></label>
                <select class="form-control" id="cut" name="cut">
                  <option value="Fair">Fair</option>
                  <option value="Good">Good</option>
                  <option value="Very Good">Very Good</option>
                  <option value="Premium">Premium</option>
                  <option value="Ideal">Ideal</option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="color"><b>Color:</b></label>
                <select class="form-control" id="color" name="color">
                  <option value="D">D</option>
                  <option value="E">E</option>
                  <option value="F">F</option>
                  <option value="G">G</option>
                  <option value="H">H</option>
                  <option value="I">I</option>
                  <option value="J">J</option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="clarity"><b>Clarity:</b></label>
                <select class="form-control" id="clarity" name="clarity">
                  <option value="I1">I1</option>
                  <option value="SI2">SI2</option>
                  <option value="SI1">SI1</option>
                  <option value="VS2">VS2</option>
                  <option value="VS1">VS1</option>
                  <option value="VVS2">VVS2</option>
                  <option value="VVS1">VVS1</option>
                  <option value="IF">IF</option>
                </select>
              </div>

              <div class="col-md-6">
                <label>&nbsp;</label>
                <input class="btn btn-primary w-100 mt-2" type="submit" value="Submit">
              </div>
            </div>
          </form>
          <div class="mt-3 text-center text-success">
            <b>
              <label for="result">Predicted Amount: Rs</label>
            {{final_result}}
            </b>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
